.TodoItem {
  background: #f4f4f4;
  padding: 10px;
  border-bottom: 1px dotted #ccc;
}

.DeleteBtn {
  background: #ff0000;
  color: #fff;
  border: none;
  padding: 5px 9px;
  border-radius: 50%;
  cursor: pointer;
  float: right;
}

.FormAdd {
  display: flex;
}

.AddBtn{
  flex: 1;
  display: inline-block;
  border: none;
  background: #555;
  color: #fff;
  padding: 7px 20px;
  cursor: pointer;
}

.AddBtn:hover {
  background: #666;
}

.InputTitle {
  flex: 10;
  padding: 5px;
}